/* GESTION DES COULEURS GLOBALS */
:root {
    --darkBlue: #141444;
    --rose: #de56d8;
    --turquoise: #05c1ca;
    --blue: #4E0CD3;

    --darkPurple: #130517;
    --darkPink: #c02186;
    --midBlue: #2b4ba3;
    --paleBlue: #31aadf;
}

/* BALISE GÉNÉRIQUE **************************************************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    min-width: 980px;
    background-color: black;
    background: url("../img/background.jpg") no-repeat center;
    background-size: cover;
}

header {
    margin: auto;
    max-width: 980px;
}

main {
    margin: auto;
    max-width: 980px;
    min-height: 80vh;
    margin-top:  5px;
    background-color: #141444da;

}

footer {
    margin: auto;
    padding: 10px;
    color: white;
    max-width: 980px;
}

/* HEADER ************************************************************/
h1 {
    margin-top: 20px;
    font-size: 6em;
    font-family: 'Whisper', cursive;
    color: var(--darkPink);

}

h2 {
    color: white;
}

h3 {
    color: white;
}

#index p {
    color: white;
}

#index section {
    display: flex;
}

#index div {
    margin: 10px;
}

.menu-connexion ul {
    list-style: none;
}

.menu-principal {
    background-color: var(--darkBlue);
    border-radius: 5px;
}

.menu-principal ul:nth-of-type(1) {
    width: 60%;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

.menu-principal ul:nth-of-type(2) {
    width: 40%;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

.menu-principal a {
    text-decoration: none;
    color: white;
}

.menu-connexion a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: var(--darkPink);
}

#logo {
    width: 100px;
}

#logoPanier img {
    width: 40px;
}


/* CLASS *************************************************************/
.white {
    color:white;
}
.center {
    text-align: center;
}

.display-none {
    display: none;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.end {
    text-align: end;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* SPÉCIFIQUE À LA PAGE ****************************************************************/


/* Comparaison**********************************************/
/*p[class*='prix-'] {
    seffa
}*/

.caroussel {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
  
.imgCaroussel {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* Inscription **********************************************/
#inscription fieldset {
    width:70%;
    margin:15px auto;
    background-color: black;
    padding: 5px;
}

#inscription legend {
    font-weight:bold;
}

#inscription .register input,#inscription .register select {
    margin: 0px 25px 10px 5px;
    width: 215px;
}

#inscription .profil label {
    min-width: 58px;
}

#inscription #nom {
    width:252px;
}

#inscription .coord label {
    min-width: 81px;
}

#inscription .info-cond input,#inscription .info-cond select {
    width: 165px;
}

#inscription .register button {
    width: 80px;
}

/* Info SBC **********************************************/

#infoSBC img{
    width: 100%;
    height: 100%;
}

#infoSBC h2{
    margin-bottom: 20px;
}

#infoSBC form{
    width: 95%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#infoSBC input{
    height: 35px;
    border-radius: 5px;
    margin: auto;
}

#infoSBC article div:first-of-type{
    width: 80%;
    height: 50%;
    margin: auto;
    margin-bottom: 15px;
}

#infoSBC article div:last-of-type{
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    color: var(--paleBlue);
}

#infoSBC .ajout{
    background-color: var(--turquoise);
    border-radius: 2px;
    text-decoration: none;
    color: white;
    height: 15px;
    margin-left: 20px;
    width: 5px;
    padding: 5px;
    text-align: center;
} 

#infoSBC .ajout:hover{
    background-color: var(--rose);
    transition: 1s;
}